<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=g52urx1aze"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=18c31c8b67d000c4b6d5a67c0008883a&libraries=servies"></script>
</head>
<body>
  <ul id="navbar">
    <li>
      <a href="/">coronamap2</a>
    </li>
    <li style="float: right;">
      <a class="active" href="/upload">Upload</a>
    </li>
  </ul>
  <div id="map"></div>
  <script type="text/javascript" src="/javascripts/MarkerClustering.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>