<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/upload.css" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=18c31c8b67d000c4b6d5a67c0008883a&libraries=servies"></script>
</head>
<body>
    <ul id="navbar">
        <li>
            <a href="/">coronamap2</a>
        </li>
        <li style="float: right;">
            <a class="active" href="/upload">Upload</a>
        </li>
    </ul>
    <div id="map" style="width: 100%; height: 100vh;"></div>
    <script type="text/javascript" src="/javascripts/upload.js"></script>
</body>
</html>