body {
  padding: 0 !important;
  margin: 0 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  width:100%;
  height:100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

.active {
  background: green;
}

li a:hover:not(.active) {
  background-color: #111;
}